<!-- ======= Topbar ======= -->
    <section id="topbar" class="topbar">    
        <div>    
        <a href="/become-a-seller">Become a Seller</a>
        <a href="/track-my-order">Track My Orders</a>
        <a href="/best-seller">Best Sellers</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </div>
    </section><!-- End Top Bar -->

    <section class="logo">
        M-SQUARE
    </section>