<footer class="footer">
    <div class="footer-1">
        Copyright © 2023 by M-Square | All Rights Reserved
    </div>

    <div class="footer-2">
        
    </div>

    <div class="footer-3">
        <div>
            <img class="QR-code" src="/static/images/QR Code.jpg" alt="QR Code">
            <div class="logo">M-Square</div>
        </div>
        <div class="btn-grp">
            <button class="download-btn">
                <img src="/static/images/google-play.png" alt="">
                <div>
                    Get it on
                    <h3>Google Play</h3>
                </div>
            </button>

            <button class="download-btn">
                <img src="/static/images/apple-logo.png" alt="">
                <div>
                    Get it on
                    <h3>App Store</h3>
                </div>
            </button>
        </div>
    </div>
</footer>