<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-Square | Seller Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/0ff32dc8a6.js" crossorigin="anonymous"></script>
    <style>
        table tr td {
            width: 40%;
            row-gap: 15px;
            padding-right: 75px;
        }
        table tr th{
            background-color: var(--main-color);
        }
    </style>
    
</head>
<body>
    <!-- ======= Topbar ======= -->
    <section id="topbar" class="topbar">
        <div>
            <h3 class="logo">{{storeName}}</h3>
        </div>
    </section><!-- End Top Bar -->
    <br>

    <!-- ======= Navbar ======= -->
    <section class="navbar-section sticky-top">  
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">

                <div class="logo me-auto">M-Square</div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/seller-dashboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/add-new-product">Add New Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/remove-product">Remove products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage-orders">Manage Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/earnings">Earanings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout-btn" href="/"><i class="fa-2x fa-solid fa-right-from-bracket"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section><!-- End Top Bar -->
    
    <section class="section">
        <h1 class="section-title">Dashboard <i style="color: var(--main-color)" class="fa-solid fa-chart-line"></i></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Cetagory</th>
                    <th>Number of Items</th>
                    <th>Sell Items</th>
                </tr>
            </thead>
            <tbody>
                <tr class="body-row">
                    <td>Fashion</td>
                    <td>{{items.0}}</td>
                    <td>{{sItem.0}}</td>
                </tr>
                <tr class="body-row">
                    <td>Jewellery</td>
                    <td>{{items.1}}</td>
                    <td>{{sItem.1}}</td>
                </tr>
                <tr class="body-row">
                    <td>Electronics</td>
                    <td>{{items.2}}</td>
                    <td>{{sItem.2}}</td>
                </tr>
        </tbody>
        
    </table>
    </section>

    {% include 'footer.html' %}

</body>
</html>
